@import "tailwindcss";
@plugin "daisyui" {
  themes: light , dark, cupcake, bumblebee;
}

:root {
  font-family: "Manrope", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container-navbar {
  @apply w-full px-4 sm:px-8 lg:px-25 max-w-[1800px] mx-auto mb-4;
}

.container-sidebar {
  @apply w-full max-w-[1800px] px-4 mb-4;
}

.footer-90 {
  @apply w-[85%] mx-auto;
}
